In [1]:
# 1.Import the necessary libraries if you are starting a new notebook. 
# Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.columns = [column.lower() for column in customer_df.columns]
customer_df.columns = customer_df.columns.str.replace(" ","_")

customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'], errors='coerce')

In [3]:
# 2. Find all of the categorical data. Save it in a categorical_df variable.

In [4]:
categorical_df = customer_df.select_dtypes(object)
categorical_df

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [5]:
# 3. Check for NaN values.

In [6]:
categorical_df.isna().sum()

customer            0
state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
dtype: int64

In [7]:
# 4. Check all unique values of columns.

In [8]:
display(categorical_df.nunique())
display(categorical_df.shape)

customer            9134
state                  5
response               2
coverage               3
education              5
employmentstatus       5
gender                 2
location_code          3
marital_status         3
policy_type            3
policy                 9
renew_offer_type       4
sales_channel          4
vehicle_class          6
vehicle_size           3
dtype: int64

(9134, 15)

In [9]:
categorical_df.state.value_counts()

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

In [10]:
categorical_df.response.value_counts()

No     7826
Yes    1308
Name: response, dtype: int64

In [11]:
categorical_df.coverage.value_counts()

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

In [12]:
categorical_df.education.value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

In [13]:
categorical_df.employmentstatus.value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

In [14]:
categorical_df.gender.value_counts()

F    4658
M    4476
Name: gender, dtype: int64

In [15]:
categorical_df.location_code.value_counts()

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

In [16]:
categorical_df.marital_status.value_counts()

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

In [17]:
categorical_df.policy_type.value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [18]:
categorical_df.policy.value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [19]:
categorical_df.sales_channel.value_counts()

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

In [20]:
categorical_df.renew_offer_type.value_counts()

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

In [21]:
categorical_df.vehicle_class.value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

In [22]:
categorical_df.vehicle_size.value_counts()

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [23]:
# 5. Check dtypes. Do they all make sense as categorical data?

In [24]:
categorical_df.dtypes
# they absolutely make sense, they have more clarity than I ever will

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [25]:
# 6. Does any column contain alpha and numeric data? Decide how to clean it.

In [26]:
# every column is an object

In [27]:
# 7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [28]:
# No
# Strictly speaking, I would convert some numericals form the last lab into objects.

In [29]:
# 8. Compare policy_type and policy. What information is contained in these columns. 
# Can you identify what is important?

In [30]:
categorical_df.policy.value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [31]:
categorical_df.policy_type.value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [32]:
# policy_type is the sum of every auto type in policy
# assuming high correlation

In [33]:
# 9. Check number of unique values in each column, can they be combined in any way to ease encoding? 
# Comment your thoughts and make those changes.

In [34]:
categorical_df.nunique()

customer            9134
state                  5
response               2
coverage               3
education              5
employmentstatus       5
gender                 2
location_code          3
marital_status         3
policy_type            3
policy                 9
renew_offer_type       4
sales_channel          4
vehicle_class          6
vehicle_size           3
dtype: int64

In [35]:
# dropping customer
# too many unique values
categorical_df = categorical_df.drop(['customer'],axis=1)

In [36]:
display(categorical_df.employmentstatus.value_counts())
# combining 'Medical Leave', 'Disabled', 'Retired' into "other"
categorical_df.employmentstatus = np.where(categorical_df.employmentstatus.isin(['Employed','Unemployed']),
                                           categorical_df.employmentstatus,'Other')
display(categorical_df.employmentstatus.value_counts())

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

Employed      5698
Unemployed    2317
Other         1119
Name: employmentstatus, dtype: int64

In [37]:
categorical_df.coverage.value_counts()
# looks ok

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

In [38]:
display(categorical_df.education.value_counts())
# changing in to low ('High School or Below), medium('Bachelor', 'College') and high('Master','Doctor')

categorical_df.education = np.where(categorical_df.education.isin(['High School or Below']),'Low',categorical_df.education)
categorical_df.education = np.where(categorical_df.education.isin(['Bachelor', 'College']),'Medium',categorical_df.education)
categorical_df.education = np.where(categorical_df.education.isin(['Master','Doctor']),'High', categorical_df.education)

display(categorical_df.education.value_counts())

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

Medium    5429
Low       2622
High      1083
Name: education, dtype: int64

In [39]:
categorical_df.gender.value_counts()
# looks ok

F    4658
M    4476
Name: gender, dtype: int64

In [40]:
categorical_df.location_code.value_counts()
# needs ordinal encoding, inherent hierarchy

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

In [41]:
categorical_df.marital_status.value_counts()
# looks ok

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

In [42]:
categorical_df.policy_type.value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [43]:
categorical_df.policy.value_counts()
# dropping it, since it's only a more detailed few of policy_type

categorical_df = categorical_df.drop(['policy'],axis=1)

In [44]:
categorical_df.sales_channel.value_counts()
# looks ok

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

In [45]:
categorical_df.renew_offer_type.value_counts()
# looks ok

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

In [46]:
display(categorical_df.vehicle_class.value_counts())
# combining Sports Car, Luxury Car|SUV in Luxury

categorical_df.vehicle_class = np.where(categorical_df.vehicle_class.isin(['Sports Car','Luxury SUV','Luxury Car']),
                                       'Luxury Class',categorical_df.vehicle_class)
display(categorical_df.vehicle_class.value_counts())

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury Class      831
Name: vehicle_class, dtype: int64

In [47]:
categorical_df.vehicle_size.value_counts()
# looks ok

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [48]:
# Did I forget anything?
display(categorical_df.head())
display(categorical_df.shape)

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Medium,Employed,F,Suburban,Married,Corporate Auto,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Medium,Unemployed,F,Suburban,Single,Personal Auto,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Medium,Employed,F,Suburban,Married,Personal Auto,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Medium,Unemployed,M,Suburban,Married,Corporate Auto,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Medium,Employed,M,Rural,Single,Personal Auto,Offer1,Agent,Four-Door Car,Medsize

(9134, 13)