# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [24]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [25]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
data.columns = [column.lower() for column in data.columns]
data.columns = data.columns.str.replace(" ","_")

Examine the `salaries` dataset using the `head` function below.

In [26]:
# Your code here:

data.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [27]:
# Your code here:

data.info()
data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33702 entries, 0 to 33701
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33702 non-null  object
 1   job_titles         33702 non-null  object
 2   department         33702 non-null  object
 3   full_or_part-time  33702 non-null  object
 4   salary_or_hourly   33702 non-null  object
 5   typical_hours      8174 non-null   float64
 6   annual_salary      25528 non-null  float64
 7   hourly_rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.1+ MB

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [28]:
# Your code here:

data.salary_or_hourly.value_counts()

Salary    25528
Hourly     8174
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [31]:
# Your code here:

data.groupby('department').agg({'department':'count'})

                     department
department
ADMIN HEARNG                 38
ANIMAL CONTRL                75
AVIATION                   1856
BOARD OF ELECTION           111
BOARD OF ETHICS               8
BUDGET & MGMT                44
BUILDINGS                   258
BUSINESS AFFAIRS            167
CITY CLERK                   88
CITY COUNCIL                362
COPA                        123
CULTURAL AFFAIRS             74
DAIS                       1033
DISABILITIES                 28
FAMILY & SUPPORT            656
FINANCE                     544
FIRE                       4627
HEALTH                      467
HOUSING                      66
HOUSING & ECON DEV          154
HUMAN RELATIONS              17
HUMAN RESOURCES              75
INSPECTOR GEN                95
LAW                         398
LICENSE APPL COMM             1
MAYOR'S OFFICE              104
OEMC                       1737
POLICE                    13848
POLICE BOARD                  2
PROCUREMENT                  84
PUBLIC LIBRARY             1088
PUBLIC SAFETY ADMIN         244
STREETS & SAN              2175
TRANSPORTN                 1113
TREASURER                    28
WATER MGMNT                1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [32]:
# Your code here:
# H0 hourly wage is significantly different from $30/hr
# H1 hourly wage is not significantly different from $30/hr

pay = data[data.salary_or_hourly=='Hourly']
pay = pay.hourly_rate
pay.mean()

34.58644971862046

In [33]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(pay, 30) # mean=86000, mentioned in the text above
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval)
# stat is positive and pvalue is below alpha -> rejecting H0

stat is   31.211500329216044
pvalue for the one-tailed test is  3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [34]:
# Your code here:
# H0 salaries this year are not higher than last year's mean of $86000/year in the police force
# H1 salaries this year are higher than last year's mean of $86000/year in the police force

sala = data[(data.department=='POLICE')&(data.annual_salary.notna())]
sala = sala.annual_salary
sala.head()

1     93354.0
4     90024.0
6    111444.0
7    103932.0
9     95736.0
Name: annual_salary, dtype: float64

In [35]:
stat, pval = ttest_1samp(sala, 86000) # mean=86000, mentioned in the text above
print('stat is  ', stat) # + rejects left tail, - rejects right tail
print('pvalue for the one-tailed test is ', pval/2)
# stat is positive and pvalue is below alpha -> rejecting H0

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [36]:
# Your code here:
data_crosstab = pd.crosstab(data.department, data.salary_or_hourly, margins = False).sort_values('Hourly',ascending=False).head(1) 
# margins = Totals
data_crosstab
# department = STREETS & SAN

salary_or_hourly  Hourly  Salary
department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:
# Your code here:
# H0 The workers from STREETS & SAN have a hourly wage that is not less than $35/hour >=
# H1 The workers from STREETS & SAN have a hourly wage that is less than $35/hour <

wage = data[(data.department=='STREETS & SAN')&(data.hourly_rate.notna())]
wage = wage.hourly_rate
len(wage) # 40.78

1846

In [38]:
stat, pval = ttest_1samp(wage, 35) # 35 is mentioned in the text above
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)
# pvalue is below alpha and stat is positive -> rejecting H0

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [39]:
# confidence interval for the mean hourly wage of all hourly workers

In [40]:
# Your code here:

pay = data[data.salary_or_hourly=='Hourly']
pay = pay.hourly_rate
pay

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [41]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(pay) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(pay)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(pay) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [42]:
# Your code here:

sala = data[(data.department=='POLICE')&(data.annual_salary.notna())]
sala = sala.annual_salary
sala.head()

1     93354.0
4     90024.0
6    111444.0
7    103932.0
9     95736.0
Name: annual_salary, dtype: float64

In [43]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(sala) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(sala)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(sala) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [44]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
# H0: p = p0

# z = (p-p0) / √p0(1-p0)/n
# p: observed sample proportion: 25%
# p0: hypothesized population proportion: len(pay)
# n: sample size: number of hourly workers: len(data)

In [45]:
proportions_ztest(count=len(pay), # p0
                  nobs=len(data),
                  value=0.25)
# pvalue lower than alpha -> rejecting H0 
# -> not enough evidence that the number of hourly workers 
# in the City of Chicago is significantly different from 25%

(-3.1962453870335, 0.0013922864704323116)

In [46]:
!git

usage: git [-v | --version] [-h | --help] [-C <path>] [-c <name>=<value>]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p | --paginate | -P | --no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]
           [--super-prefix=<path>] [--config-env=<name>=<envvar>]
           <command> [<args>]

These are common Git commands used in various situations:

start a working area (see also: git help tutorial)
   clone     Clone a repository into a new directory
   init      Create an empty Git repository or reinitialize an existing one

work on the current change (see also: git help everyday)
   add       Add file contents to the index
   mv        Move or rename a file, a directory, or a symlink
   restore   Restore working tree files
   rm        Remove files from the working tree and from the index

examine the history and state (see also: git help revisions)
   bisect    Use binary search to find the commit that introduced a bug
   diff      Show changes between commits, commit and working tree, etc
   grep      Print lines matching a pattern
   log       Show commit logs
   show      Show various types of objects
   status    Show the working tree status

grow, mark and tweak your common history
   branch    List, create, or delete branches
   commit    Record changes to the repository
   merge     Join two or more development histories together
   rebase    Reapply commits on top of another base tip
   reset     Reset current HEAD to the specified state
   switch    Switch branches
   tag       Create, list, delete or verify a tag object signed with GPG

collaborate (see also: git help workflows)
   fetch     Download objects and refs from another repository
   pull      Fetch from and integrate with another repository or a local branch
   push      Update remote refs along with associated objects

'git help -a' and 'git help -g' list available subcommands and some
concept guides. See 'git help <command>' or 'git help <concept>'
to read about a specific subcommand or concept.
See 'git help git' for an overview of the system.